@import './variable';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


// main.scss
$primary-color: #0056b3;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
}